@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 30 58 138;
        --foreground: 191 219 254;
        --muted: 96 165 250;
        --accent: 147 197 253;
    }
}

@layer utilities {
    .pause {
        animation-play-state: paused;
    }
}

.button {
    color: white;
}
